@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'satoshi';
    src: url('/font/Satoshi-Medium.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
body {
  font-family: 'satoshi';
  color: white;
  overflow-x: hidden;
}

.img-deco::before {
  content: 'dfsanjkdasndjkasnkjnkjadskjfjkasbfkbdfsaaskj';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #000000;
}

.about {
  height: 40vh;
  width: 100%;
  background-image: url('/image/about-hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
